* {
  box-sizing: border-box;
}
*:no-button {
  color: #ddd;
}
html {
  background-color: #333;
}
main {
  width: fit-content;
  margin: 300px auto;
  display: flex;
  flex-direction: column;
}

/* FORM */
form {
  width: fit-content;
  margin-bottom: 16px;
}
form > div {
  margin-bottom: 1rem;
}
#lifeNb {
  display: none;
}
.error-text {
  color: red;
}

/* PROGRESS BAR */
#progress-bar-container {
  border: 1px solid #ddd;
  width: 100%;
  display: none;
}
#progress-bar {
  text-align: center;
  background-color: #ddd;
  color: #333;
  padding: 6px 0;
}

/* TABLE */
table {
  border-collapse: collapse;
}
tr {
  width: 100%;
}
td {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 6px;
}
a {
  color: #ddd;
}
a:hover {
  text-decoration: none;
}
.centered {
  text-align: center;
}
